<launch>
  <group ns="arm_ns">  
    <arg name="model" />  
    <arg name="gui" default="True" /> 
    <arg name="rvizconfig" default="$(find human_identify_new)/rviz/human_model.rviz" /> 
    <param name="robot_description" textfile="$(find virt_human_arm)/urdf/lhz.urdf" />  
    <param name="use_gui" value="$(arg gui)"/> 
    <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->                                                      
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />  
    <node name="rviz_human_armi" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true">
		
	</node>
  </group>

</launch> 
